html 
  head 
    title Blog
    link(rel='stylesheet' href='stylesheets/angular/angular-material.min.css')
    link(rel="stylesheet" href='stylesheets/index.css')
    script(src='javascripts/js.cookie.js')
    script(src='javascripts/angular/angular.min.js')
    script(src='javascripts/angular/angular-animate.min.js')
    script(src='javascripts/angular/angular-aria.min.js')
    script(src='javascripts/angular/angular-messages.min.js') 
    script(src='javascripts/angular/angular-material.min.js') 
    script(src='javascripts/index.js')
  body
    div(id="main" ng-app="blog")
      div(ng-controller="userLogin" id="head")
        br
        md-toolbar
          div(class="md-toolbar-tools")
            md-button BACK
            h2 BLOG
            span(flex="")
            md-button(class="md-fab md-mini" ng-click="showLoginDialog($event)")
              md-icon(md-svg-src="images/icon/default.svg")
        div(ng-controller="blogList")
          div(id="list")
            br
            md-card(class="card")
              md-input-container(class="md-block")
                label 搜索 标题、作者或标签
                input(ng-model="findMessage")
              md-content(flex)
                div(class="list")
                  md-list
                    md-list-item(class="md-3-line" ng-repeat="item in list" ng-click="changeContent(item)")
                      h3 {{item.title}}
          div(ng-controller="blogContent" id="content")
            br
            md-card(class="card")
              md-content(flex)
                div(class="content")
                  h1 {{articleContent.title}}
                  p {{getAuthor()}}
                  br
                  p {{articleContent.content}}
              md-content
                div
                  md-fab-speed-dial(md-direction='up' class='md-scale' layout-align="end end")
                    md-fab-trigger
                      md-button(class='md-fab')
                        md-icon(md-svg-src='images/menu.svg')
                    md-fab-actions
                      md-button(class='md-fab' ng-click="addBlog($event)")
                        md-icon(md-svg-src='images/add.svg')
                      md-button(class='md-fab' ng-click="editBlog($event)")
                        md-icon(md-svg-src='images/edit.svg')