<md-dialog flex=30>
    <md-card style="padding: 20px">
        <div style="height: 400px">
            <h1>欢迎您， {{user.name}}</h1>
            <div>
                <h2>个人信息</h2>
                <p>电话：{{user.phone}}</p>
                <p>邮箱：{{user.email}}</p>
            </div>
            <md-button class="md-raised md-primary" ng-click="editData()">修改资料</md-button>
            <md-button class="md-raised md-warn" ng-click="logout()">退出登录</md-button>
        </div>
    </md-card>
</md-dialog>