<md-dialog flex=50>
    <md-card>
        <md-tabs md-center-tabs="true">
            <md-tab label="登录">
                <h1>登录</h1>
                <form novalidate>
                    <div class="input">
                        <md-input-container>
                            <label>学号</label>
                            <input ng-model="login.id" />
                        </md-input-container>
                        <md-input-container>
                            <label>密码</label>
                            <input type="password" />
                        </md-input-container>
                    </div>
                    <div class="button">
                        <md-button class="md-raised md-primary">提交</md-button>
                        <md-button class="md-raised md-warn">重置</md-button>
                    </div>
                </form>
            </md-tab>
            <md-tab label="注册">
                <h1>注册</h1>
                <form novalidate>
                    <div class="input">
                        <md-input-container>
                            <label>学号</label>
                            <input ng-model="login.id" />
                        </md-input-container>
                        <md-input-container>
                            <label>密码</label>
                            <input type="password" />
                        </md-input-container>
                    </div>
                    <div class="button">
                        <md-button class="md-raised md-primary">提交</md-button>
                        <md-button class="md-raised md-warn">重置</md-button>
                    </div>
                </form>
            </md-tab>
        </md-tabs>
    </md-card>
</md-dialog>
